/* CONTACT */

.contact {
    color: var(--nav-background);
    text-transform: capitalize;

    --input-text: rgb(227, 219, 211);
    --input-border: rgb(14, 14, 209);
}

.contact p {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.25rem;
}

.contact form {
    display: flex;
    margin: 1.5rem;
    flex-direction: column;
}

.contact form input {
    outline: none;
    border: none;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
    border-bottom: 0.125rem solid var(--nav-background);
    transition: border 300ms ease-in;
    color: var(--input-text);
    background-color: var(--background);
}

.contact form input:hover {
    border-bottom: 0.125rem solid var(--input-border);
}

.contact form button {
    width: fit-content;
    align-self: flex-end;
    margin: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid var(--input-border);
    border-radius: 2px;
    color: var(--nav-background);
    background-color: var(--input-border);
    transition: transform 150ms ease;
}

.contact form button:hover,
.contact form button:focus {
    transform: scale(1.1);
}