/* FOOTER */
footer {
    color: var(--text-color);
    display: flex;
    gap: 0.2rem;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
}

footer button {
    width: 1.5rem;
    height: 1.5rem;
    /* font-size: 1.2rem; */
    border-radius: 50%;
    color: var(--input-text);
    border: none;
    cursor: pointer;
    background-color: var(--background);
}