/* NAVBAR */
.navbar {
    width: 100%;
    display: grid;
    position: sticky;
    top: 0;
    left: 0;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    background-color: linear-gradient(to bottom, black, white);
    border-bottom: 2px solid white;
    z-index: 100;
}

.navbar .icon {
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    margin: 0.75rem;
}

.navbar .hamburger {
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.75rem;
    margin-left: auto;
    align-self: center;
    position: relative;
    cursor: pointer;
    background-color: var(--background);
}

.navbar .hamburger::after,
.navbar .hamburger::before {
    content: "";
    height: 0.2rem;
    position: absolute;
    right: 0;
    background-color: var(--background);
}

.hamburger[data-on="on"]::after {
    top: 0.5rem;
    width: 80%;
}

.hamburger[data-on="off"]::after {
    transform: rotate(-45);
}

.hamburger[data-on="on"]::before {
    top: -0.5rem;
    width: 120%;
}

.navbar .nav-dropdown[data-visible="hidden"] {
    display: none;
}

.navbar .nav-dropdown[data-visible="visible"] {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar .nav-dropdown ul {
    list-style: none;
}

.navbar .nav-dropdown ul li {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0.75rem;
    text-transform: capitalize;
    cursor: pointer;
}

.navbar .nav-dropdown ul li:hover,
.navbar .nav-dropdown ul li:focus {
    color: blue;
}